
@{
    ViewBag.Title = "Edit Publication";
}

<!-- Start: Page Banner -->
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>Edit Publication</h2>
            <span class="underline center"></span>
            <p class="lead"></p>
        </div>
    </div>
</section>
<!-- End: Page Banner -->
<!-- Start: Contact Us Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="contact-main">
                <div class="contact-us">
                    <div class="container">
                        <div class="row">
                            <div class="contact-area">
                                <div class="container">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="contact-form bg-light margin-right">
                                                    <h2>Edit Publication</h2>
                                                    <span class="underline left"></span>
                                                    <div class="contact-fields">
                                                        <form id="edit-publication" name="edit-publication" action="" method="post">
                                                            <div class="row">
                                                                <input class="form-control" type="hidden" name="Id" id="Id" size="30" value="" aria-required="true" />
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        <input class="form-control" type="text" placeholder="Title" name="Title" id="title" size="30" value="" aria-required="true" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        <input class="form-control" type="datetime" placeholder="Date Published" name="DatePublished" id="date-dublished" size="30" value="" aria-required="true" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        <input class="form-control" type="text" placeholder="Publisher" name="Publisher" id="Publisher" size="30" value="" aria-required="true" />
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        <input class="form-control" type="text" placeholder="Image" name="Image" id="Image" size="30" value="" aria-required="true" />
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        <input class="form-control" type="text" placeholder="Availability" name="Availability" id="Availability" size="30" value="" aria-required="true" />
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <div class="form-group form-submit">
                                                                        <input class="btn btn-default" id="submit-edit-publication-form" type="button" name="submit" value="Submit" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- End: Contact Us Section -->
<!-- Start: Social Network -->
<section class="social-network section-padding">
    <div class="container">
        <div class="center-content">
            <h2 class="section-title">Follow Us</h2>
            <span class="underline center"></span>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <ul>
            <li>
                <a class="facebook" href="#" target="_blank">
                    <span>
                        <i class="fa fa-facebook-f"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="twitter" href="#" target="_blank">
                    <span>
                        <i class="fa fa-twitter"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="google" href="#" target="_blank">
                    <span>
                        <i class="fa fa-google-plus"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="rss" href="#" target="_blank">
                    <span>
                        <i class="fa fa-rss"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="linkedin" href="#" target="_blank">
                    <span>
                        <i class="fa fa-linkedin"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="youtube" href="#" target="_blank">
                    <span>
                        <i class="fa fa-youtube"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- End: Social Network -->

@section scripts
{
    <script>

        $(document).ready(function () {
            var token = sessionStorage.getItem('tokenKey');
            var headers = {};
            if (token) {
                headers.Authorization = 'Bearer ' + token;
            }

            var getUrlParameter = function getUrlParameter(sParam) {
                var sPageURL = window.location.search.substring(1),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                    }
                }
            };

            $.ajax({
                type: "GET",
                url: "http://localhost:64110/api/governmentpublications/" + getUrlParameter("id"),
                headers: headers,
                dataType: 'json',
                success: function (data) {
                    $('#Id').val(data.Id);
                    $('#title').val(data.Title);
                    $('#date-dublished').val(data.DatePublished);
                    $('#Publisher').val(data.Publisher);
                    $('#Image').val(data.Image);
                    $('#Availability').val(data.Availability);
                },
                error: function (xhr) {
                    alert("Something went wrong. " + xhr.responseText);
                }
            });

            $('#submit-edit-publication-form').on('click', function () {
                var formData = $('#edit-publication').serializeArray();
                $.ajax({
                    type: "PUT",
                    url: "http://localhost:64110/api/governmentpublications/" + getUrlParameter("id"),
                    headers: headers,
                    data: formData,
                    success: function () {
                        alert("The publication was updated.");
                    },
                    error: function (xhr) {
                        alert("Something went wrong. " + xhr.responseText);
                    }
                });
            });
        });
    </script>
}

